/* Styles for whole page */
html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

.site-container {
  max-width: 960px;
  margin: auto;
}

/* Header styles */
header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  height: 31rem;

}

.top-header {
  background-color: cadetblue;
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1rem;
  top: 1rem;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img {
  display: inline-block;
  height: 1.5rem;
  padding-left: 2rem;
}

.logo span {
  display: inline-block;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

li {
  display: inline;
  padding: 1rem 2rem;
}

.site-container .text-over-banner {
  display: flex;
  justify-content: flex-end;
  margin: 10rem -2rem 0 20rem;
}

.text-over-banner{
  background-color: white;
  display: inline-block;
  padding: 1.5rem 5rem;
}


h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  }


/* Offer styles */
.offer-section {
  display: flex;
  justify-content: center;
}

.offer {
  margin: 3rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.offer img {
  max-width: 3.5rem;
  justify-content: center;
}

.offer span {
  margin-top: 1rem;
}
/* Information styles */
.information-section {
  display: flex;
  justify-content: center;
}

.info {
  margin-right: 5%;
  width: 35%;
  padding-bottom: 5rem;
}

.box {
  font-weight: bold;
  color: white;
  background-color: cadetblue;
  margin-bottom: 1rem;
  width: 10rem;
  padding: 0.5rem 1.25rem;
}

.info p {
  padding-top: 1rem;
}

/* Footer styles */
footer {
  padding: 4rem;
  background-color: azure;
  display: flex;
  align-items: center;
}

footer .img {
  height: 1.5rem;
}

.copyright {
  margin-left: 1rem;
}
